/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


html,
body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #00d87e 0%, #00d8d8 100%);
  font-family: "Fira Code", monospace;
}

a {
  text-decoration: none;
  color: #2f3435;
}